

<div class="row">
    <div class="col-4 text-center">
        <img src="{{Product.imagePath}}" class="img-thumbnail" id="Image" style="width: 300px; height: 400px; ">
        <br><br>
    </div>
    <div class="col-8">

        <div class="container">

            <!--User Information Display Part-->
            <div class="row" id="rowhome">
                <div class="col-6 col-sm-3">
                    <p class="font-weight-bold">Product Name: </p>
                </div>
                
                <div class="col-6 col-sm-6">
                    <p class="font-weight-bold">{{Product.productName}}</p>
                </div>
               
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">
                    <p class="font-weight-bold"> Information </p>
                </div>
                 <div class="w-100"></div>

                <div class="col-6 col-sm-3">
                    <p class="font-weight-normal"> storage Capacity : </p>
                </div>
                
                <div class="col-6 col-sm-6">
                    <p class="font-weight-normal">{{Product.information.storageCapacity}} GB</p>
                </div>
               
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>

                 <div class="col-6 col-sm-3">
                    <p class="font-weight-normal">number Of SIM: </p>
                </div>
                
                <div class="col-6 col-sm-6">
                    <p class="font-weight-normal">{{Product.information.numberOfSIM}}</p>
                </div>
               
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>

                <div class="col-6 col-sm-3">
                    <p class="font-weight-normal">Camera Resolution: </p>
                </div>
                
                <div class="col-6 col-sm-6">
                    <p class="font-weight-normal">{{Product.information.cameraResolution}} MP</p>
                </div>
               
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">
                    <p class="font-weight-normal">Dispaly Size : </p>
                </div>
                
                <div class="col-6 col-sm-6">
                    <p class="font-weight-normal">{{Product.information.dispalySize}} Inch</p>
                </div>
               
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>

                <div class="col-6 col-sm-3">
                    <p class="font-weight-bold">Price : </p>
                </div>
                
                <div class="col-6 col-sm-6">
                    <p class="font-weight-bold">$ {{Product.price}}</p>
                </div>
               
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>

                <div class=" col-sm-6 text-center">
                    <br><br>
                    {{#if checkuser}}
                    <a href="/addToCart/{{Product._id}}/{{Product.price}}/{{Product.productName}}" class="btn btn-success" style="width: 200px;"> Buy </a>
                    {{else}} 
                     <a data-toggle="modal" data-target="#staticBackdrop"style="width: 200px;" class="btn btn-success float-right">Buy</a>
                    {{/if}}
                    
                </div>
            </div>
            <!--End of User Information Display Part-->


        </div>

    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-store-alt-slash"></i> Can't Buy It
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You Should Signin First!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/users/signin" class="btn btn-success float-right">SignIn</a>
            </div>
        </div>
    </div>
</div>